.App {
  text-align: center;
  height: 100vh;
}

.Appheader {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(27px + 2vmin);
  color: rgb(235, 207, 145);
}

/* .MuiCircularProgress-colorPrimary {
  color: rgb(235, 207, 145) !important;
}

.MuiCircularProgress-root {
  width: 16px !important;
  height: 16px !important;
} */
